* {
	margin: 0;
	padding: 0;
}

html {
	background-image: url(../elements/31original.gif);
}

body {
	font-size: 16px;
	width: 100%;
}

#header_section {
	min-width: 1020px;
	min-height: 900px;
	background: url(../elements/Header.jpg) no-repeat;
}

#main_unit {
	min-height: 900px;
	width: 1020px;
	margin: 0px auto;
	box-shadow: 0px 0px 15px #888888;
	background: white;
}

#clearfix {
	display: block;
	height: 0;
	clear: both;
}

#buttons_header {
	background-color: #08a0ff;
	height: 30px;
	border: none;
}


#content  /*Центральная колонка*/
  {
	position: absolute;
	top: 110px;
	width: 70%;
	margin: 10px; /*Значения отступов */
	background-color: aliceblue;
	padding: 50px 5px 5px 5px; /* Поля вокруг текста */
	left: 320px; /* отступ слева от края */
	text-align: center;
}

#button {
	background-color: #08a0ff;
	background-repeat: no-repeat;
	color: white;
	font-size: large;
	border: none;
}

#user_unit {
	margin-left: 30px;
	border: none;
	width: 250px;
	height: 40px;
	cursor: pointer;
	font-size: 16px;
	color: #08a0ff;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

#categories {
	align: left;
}

#right_section {
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	height: 40px;
	border: none;
	cursor: pointer;
	font-size: medium;
	width: 250px;
	float: left;
	color: #08a0ff
}

#category_header {
	background-repeat: no-repeat;
	background-size: 250px 40px;
	height: 40px;
	text-align: center;
	color: white;
	font-size: 20px;
	color: #08a0ff;
}

#unit {
	border-radius: 0 5px 5px 0;
	float: right;
	width: 500px;
	background: border-box;

}

#registr {
	background: green;
}

#footer_section {
	clear: both;
	width: 1020px;
	height: 100px;
	background: url(../elements/footer.jpg);
	background-repeat: no-repeat;
	margin: 0 auto;
}

#text_area {
	width: 300px
}

#home {
	margin: 0 0 0 10%;
	width: 680px;
	height: 680px;
	background: url(../images/elements/home.jpg);
	background-repeat: no-repeat;
	background-size: 620px 620px;
}

#lang_button {
	background-color: #08a0ff;
	border: none;
	color: white;
	height: 20px;
	cursor: pointer;
}

#button_list {
	border: none;
	background-color: white;
	color: blue;
	height: 20px;
	cursor: pointer;
}

.sly {
	display: none;
	background-color: rgb(237, 237, 237);
	border: hsl(0, 0%, 75%) solid 1px;
	color: #444;
	height: auto;
	margin: 5px 0;
	padding: 10px;
	text-align: justify;
}

.hidd {
	cursor: pointer;
	color: #4C6695;
	margin: 1px 0 0;
}